In [ ]:
#11.1
with open("zoo.py", "w") as f:
    f.write("""
def hours():
    print("Open 9-5 daily")
""")

In [ ]:
import zoo
zoo.hours()

In [ ]:
#11.2
import zoo as menagerie
menagerie.hours()

In [ ]:
#16.8
from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine('sqlite:///books.db')
connection = engine.connect()


metadata = MetaData()
book = Table('book', metadata, autoload_with=engine)


stmt = select(book.c.title).order_by(book.c.title)
results = connection.execute(stmt)

# Print results
for row in results:
    print(row.title)